# Python for Data Analysts
**Inclass for Week 1**
_______
## Objective Course
- Introduction to the `pandas` library. 
- Introduction to `DataFrame`  
- Data Types
- Exploratory Data Analysis I
- Indexing and Subsetting

Shortcut pada Jupyter Notebook:
- a : insert cell above
- b : insert cell below
- m : ubah cell ke markdown
- y : ubah cell ke code
- dd : delete cell
- ctrl+enter : run cell

## Keyword and Variable
Variable adalah nama yang dipakai untuk menunjukkan sebuah nilai. Tanda `=` dipakai untuk membuat variable baru.

In [4]:
# Code here
algoritma = "programming"
print(algoritma)

programming

Python adalah bahasa pemrograman yang *case-sensitive* sehingga penamaan antar variable menjadi hal yang perlu diperhatikan. Misalnya penulisan variable `activity` dengan awalan huruf `a` kecil berbeda dengan yang diawali dengan huruf `A` besar.

In [5]:
## Code here
algoritma == Algoritma

NameError: name 'Algoritma' is not defined

Berikut beberapa anjuran dalam memberikan nama variabel/identifier pada Python:
- Penamaan bisa menggunakan kombinasi dari huruf kapital (A-Z), huruf nomina (a-z), angka (0-9).
- Penamaan tidak boleh menggunakan angka di awal.
- Penamaan variabel tidak boleh menggunakan keyword pada Python
- Nama variabel bersifat case-sensitive sehingga penamaan variabel algoritma, ALGORITMA dan Algoritma adalah 3 nama variabel yang berbeda
- Karakter !, $ , &, dll tidak bisa digunakan dalam penamaan variabel.

Sedangkan keyword adalah kata kunci yang sudah di tetapkan oleh Python sebagai nama yang tidak bisa dipakai baik untuk penamaan fungsi, variabel, dan lainnya. Keyword ditulis dalam lower-case (huruf kecil semua) kecuali keyword True, False, dan None. Sejauh ini keyword yang ada pada Python adalah sebagai berikut:

`True`, `False`, `None`, `and`, `as`, `assert`, `break`, `class`, `continue`, `def`, `del`, `elif`, `else`
`except`, `finally`, `for`, `from`, `global`, `if`, `import`, `in`, `is`, `lambda`, `nonlocal`, `not`, `or`, `pass`
`raise`, `return`, `try`, `while`, `with`, `yield`

In [6]:
# Cek daftar keyword
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Untuk membuktikan bahwa keyword tidak dapat digunakan untuk membuat nama variabel baru, cobalah untuk menimpan nilai 1 pada variabel `True`.

In [7]:
## Code here
True = 1

SyntaxError: can't assign to keyword (<ipython-input-7-b335ad4b97ec>, line 2)

Bagaimana? Apa yang Anda temukan? True tidak bisa di assign dengan sebuah nilai karena dia adalah sebuah keyword.

## Introduction to Pandas Library
Pandas adalah library yang cukup powerfull sebagai tools analisis data dan struktur pada Python. Dengan Pandas kita dapat mengolah data dengan mudah. Pandas menyediakan salah satu fitur bernama Dataframe. Dengan dataframe kita dapat membaca sebuah file, mengolah suatu data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya. Untuk menggunakan Pandas, kita perlu import terlebih dahulu librarynya dengan cara berikut ini:

In [8]:
import pandas
print(pandas.__version__)

0.24.2

In [3]:
import pandas as pd
print(pd.__version__)

1.0.1

Perlu diperhatikan bahwa semua fungsi pada pandas dapat diakses dengan cara dipanggil seperti syntax : `pandas.function_name()`. Langkah pertama yang akan kita lakukan adalah membaca data. Anda dapat menggunakan `.read_csv()` untuk membaca sebuah file dengan format `.csv`.

In [9]:
rice1 = pd.read_csv("data_input/rice.csv")
rice1.head()

,Unnamed: 0,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
0,1,9622257,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
1,2,9446359,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
2,3,9470290,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
3,4,9643416,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
4,5,9692093,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

In [10]:
# code here
rice = pd.read_csv("data_input/rice.csv", index_col=0)
rice.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
1,9622257,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
2,9446359,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
3,9470290,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
4,9643416,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
5,9692093,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

Dokumentasi `read_csv()` selengkapnya ada [disini](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

### Konwledge Check
Referring to the previous **Python keywords** concept. Which of the following 4 lines of code will evaluate without raising an error?

- [ ] `pd.read_csv("data_input/rice.csv", index_col=false)`
- [ ] `Import pandas as pd`
- [x] `print(100-2)`
- [ ] `None = 2`

In [ ]:
## Code here
print(100-2)

### Dive Deeper
Let's dive deeper into understanding the `index_col` parameter. From the documentation:

> `index_col` : int or sequence or `False`  
Column to use as the row labels of the DataFrame.

1. How would you change the `read.csv()` code such that the DataFrame uses `receipt_id` as the row label (index)? 
2. `pandas.DataFrame.head()` accepts an additional parameter, `n`, and returns the first `n` rows of the DataFrame; Set `n=8` to see the first 8 rows of your `rice` DataFrame
3. The opposite of `.head()` is `.tail()`. It returns the last `n` row of your DataFrame. Create a new cell below and print the last 4 rows of our DataFrame

In [11]:
## Code here
rice2 = pd.read_csv("data_input/rice.csv",index_col='receipt_id')
rice2.head(8)

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
9622257,1,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
9446359,2,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
9470290,3,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
9643416,4,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
9692093,5,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07
9504155,6,32030785,7/17/2018 18:05,Rice,Rice,minimarket,63500.0,0,1,2018-07
9822589,7,32935097,7/29/2018 18:18,Rice,Rice,supermarket,66500.0,0,1,2018-07
9706953,8,32593606,7/25/2018 12:48,Rice,Rice,minimarket,62500.0,0,1,2018-07

In [12]:
rice2.tail(4)

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
5598782,11997,16999147,12/2/2017 14:12,Rice,Rice,minimarket,64000.0,0,1,2017-12
5735850,11998,17434503,12/13/2017 19:17,Rice,Rice,supermarket,59990.0,3000,1,2017-12
5678748,11999,17317935,12/8/2017 22:04,Rice,Rice,minimarket,59500.0,3000,1,2017-12
5702411,12000,17341559,12/10/2017 17:04,Rice,Rice,minimarket,59500.0,3000,1,2017-12

## Data Types

- Cek tipe data : `dtypes`

In [15]:
# method
rice2.head()

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
9622257,1,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
9446359,2,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
9470290,3,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
9643416,4,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
9692093,5,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

In [17]:
# cek tipe data rice
#atribut
rice2.dtypes

Unnamed: 0            int64
receipts_item_id      int64
purchase_time        object
category             object
sub_category         object
format               object
unit_price          float64
discount              int64
quantity              int64
yearmonth            object
dtype: object

### Knowledge check: `.dtypes` and pandas attributes
Look at the following code - what is the expected output from the following code? Why?
```
x = [2019, 4, 'data science']
x.dtypes
```

Hint: Try `type(x)` and verify the type for object `x`.

In [20]:
#code here
x = [2019, 4, 'data science']

# x.dtypes
type(x)

list

In [22]:
type(rice)

pandas.core.frame.DataFrame

In [21]:
x

[2019, 4, 'data science']

Atribut `dtypes` hanya dimiliki oleh objek dataframe oleh karena itu `dtypes` tidak bisa diaplikasikan untuk list.

Perhatikan dataframe di bawah ini untuk contoh lain dari tipe data pada pandas!

In [18]:
employees = pd.DataFrame({
    'name': ['Anita', 'Brian'],
    'age': [34, 29],
    'joined': [pd.Timestamp('20190410'), pd.Timestamp('20171128')],
    'degree': [True, False],
    'hourlyrate': [35.5, 29],
    'division': ['HR', 'Product']
})
employees.dtypes

name                  object
age                    int64
joined        datetime64[ns]
degree                  bool
hourlyrate           float64
division              object
dtype: object

- `name` [`object`]: store text values
- `age` [`int`]: integer values
- `joined` [`datetime`]: date and time values
- `degree` [`bool`]: True/False values
- `hourlyrate` [`float`]: floating point values
- `division` [`object`]: store text values

In [21]:
sales = [100,"novan","a"]
type (sales)

list

In [20]:
sales = [100,"novan","a"]
type (sales)

list

### Categorical and Numerical Variables
Tipe data categorical adalah tipe data yang memiliki karakteristik dimana nilainya selalu berulang pada sebuah kolom di dataframe. Ketika kita bekerja dengan variabel kategorik, ada 2 alasan mengapa kita harus menggunakan tipe data categorical pada pandas. Alasan pertama dengan mempertimbangkan "bussiness prespective". Hal ini dapat menginformasikan dan memandu seorang Analyst, pada pertanyaan seperti metode statistik atau tipe plot mana yang digunakan untuk mengolah data. 

Alasan kedua adalah dengan melihat dari sisi technicalnya. Ketika kita bekerja dengan tipe data categorical pada pandas, hal ini akan jauh menghemat memori dan tentunya akan menambah kecepan komputasional.

Berikut karakteristik Categorical variabel yang dikutip dari official page:
> Categoricals are a pandas data type corresponding to categorical variables in statistics. A categorical variable takes on a limited, and usually fixed, number of possible values (categories; levels in R). Examples are gender, social class, blood type, country affiliation or rating via Likert scales.

Untuk mengubah tipe data ke categorical pada pandas, Anda dapat melakukannya dengan method `astype()` berikut:

**Formula** 
```
df['column_name'] = df['column_name'].astype('new_data_types')
```
**Contoh**
```
employees['marital_status'] = employees['marital_status'].astype('category')
```

Perhatikan kembali dataframe `employees`. Adakah kolom yang tidak tersimpan dengan tipe data yang benar? Ubahlah ke tipe data yang tepat dengan menggunakan method `astype()`!

In [24]:
# code here

employees ['division'] = employees['division'].astype('category')
employees.dtypes

name                  object
age                    int64
joined        datetime64[ns]
degree                object
hourlyrate           float64
division            category
dtype: object

## Exploratory Data Analysis I
Exploratory Data Analysis (EDA) mengacu pada proses melakukan investigasi awal pada data, seringkali dengan tujuan untuk lebih mengenal dengan karakteristik data tertentu. EDA biasanya dilakukan dengan bantuan ringkasan statistik dan teknik grafis sederhana untuk melihat struktur data yang kita miliki.

Beberapa tools sederhana pada Pandas yang dapat digunakan untuk melakukan EDA adalah sebagai berikut:
- `.head()` and `.tail()`
- `.describe()`
- `.shape` and `.size`
- `.axes`
- `.dtypes`

- head() dan tail()

Method `head()` digunakan untuk inspeksi 5 data teratas dan `tail()` digunakan untuk inspeksi 5 data terbawah dari sebuah dataframe

In [27]:
# code here
employees.head(3)

    name  age     joined degree  hourlyrate division
0  Anita   34 2019-04-10   True        35.5       HR
1  Brian   29 2017-11-28  False        29.0  Product

- describe()

Method `describe()` menampilkan 8 ringkasan statistika yang dapat membantu kita untuk melihat descriptive statistic dari seluruh kolom numerik pada dataframe(default). Ringkasan statistika yang dimaksud adalah sebagai berikut:
- Count
- Mean
- Standard Deviation
- Minimum Value
- 25th Percentile (Q1)
- 50th Percentile (Q2/Median)
- 75th Percentile (Q3)
- Maximum Value

In [31]:
# code here
rice['receipt_id'].mean ()

7650135.156583333

- shape dan size

`shape` dan `size` adalah atribut dari sebuah dataframe yang memberikan informasi terkait dimensi data dan ukuran data

In [92]:
# code here

inventory.axes[1]

Index(['units_instock', 'discount_price', 'item_name', 'units_sold'], dtype='object')

- axes

`axes` adalah atribut dari sebuah dataframe yang memberikan informasi terkait index dataframe (baik index column maupun index baris)

In [37]:
# code here
rice.axes[0] : Melihat index baris 
rice.axes[1] : Melihat index kolom

Index(['receipt_id', 'receipts_item_id', 'purchase_time', 'category',
       'sub_category', 'format', 'unit_price', 'discount', 'quantity',
       'yearmonth'],
      dtype='object')

- dtypes

Atribut `dytpes` digunakan untuk melakukan inspeksi tipe data

In [38]:
# code here
rice.dtypes

receipt_id            int64
receipts_item_id      int64
purchase_time        object
category             object
sub_category         object
format               object
unit_price          float64
discount              int64
quantity              int64
yearmonth            object
dtype: object

In [39]:
# code here
rice.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
1,9622257,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
2,9446359,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
3,9470290,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
4,9643416,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
5,9692093,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

In [46]:
# rice data types

rice ['category'] = rice['category'].astype('category')
rice ['sub_category'] = rice['sub_category'].astype('category')
rice ['format'] = rice ['format'].astype('category')
rice ['purchase_time'] = rice ['purchase_time'].astype('datetime64')
rice.dtypes

receipt_id                   int64
receipts_item_id             int64
purchase_time       datetime64[ns]
category                  category
sub_category              category
format                    category
unit_price                 float64
discount                     int64
quantity                     int64
yearmonth                   object
dtype: object

# Knowledge Check: Data types

Supposed we have a pandas DataFrame named `inventory`. 

1. We called `inventory.dtypes` and got the following output. Which of the column likely require type conversion because it seems to have the wrong data type? Choose all that apply.

    - [ ] `units_instock`: int64
    - [ ] `discount_price`: float64
    - [ ] `item_name`: object
    - [ ] `units_sold`: object
    

2. We would like to know the number of columns in `inventory`. Which of the following code would print the number of columns in `inventory`? Choose all that apply.

    - [v] `print(len(inventory.columns))`
    - [v ] `print(inventory.shape[1])`
    - [ ] `print(len(rice.axes[1]))`

In [94]:
# code here
inventory = pd.DataFrame({
    'units_instock': [1,2,3],
    'discount_price': [10.1, 10.2, 20.1],
    'item_name' : ['Masker', 'Sarung_tangan', 'Detol'],
    'units_sold' : ['1', '3', '2']
})
inventory.dtypes

units_instock       int64
discount_price    float64
item_name          object
units_sold         object
dtype: object

In [101]:
# code here
inventory ['item_name'] = inventory ['item_name'].astype('category')

In [89]:
print(len(inventory.columns))

4

In [93]:
print(inventory.shape[1])

4

In [62]:
# code here




### Additional read_csv()
- comment
- nrows
- skiprows

Case : analytics.csv

In [ ]:
#code here

## Indexing and Subsetting with Pandas

Indexing digunakan untuk memilih, mentransformasi, dan meringkas beberapa set data (sebagian data) yang merupakan bagian critical dari workflow data analysis yang sedang dikerjakan. Contohnya:
- Compare sales pada tahun 2018 vs 2019
- Identifikasi peluang penjualan pada segment pasar (ex : Wholesale vs Retail)
- Melihat quarter terbaik untuk setiap tahun yang dapat digunakan untuk tujuan promosi,dll
- dsb

Untuk melakukan indexing dan subseting (slicing data) pada Pandas, ada beberapa cara yang bisa digunakan. Method yang mendukung hal tersebut adalah sebagai berikut:
- `head()` and `tail()`  
- `select_dtypes()`  
- Using `.drop()` 
- The `[]` operator
- `.loc`  
- `.iloc`
- Conditional subsetting

In [ ]:
# Code here