# Python for Data Analysts
**Inclass for Day 1**
_______
## Objective Course
- Introduction to the `pandas` library. 
- Introduction to `DataFrame`  
- Data Types
- Exploratory Data Analysis I
- Indexing and Subsetting

## Keyword and Variable
Variable adalah nama yang dipakai untuk menunjukkan sebuah nilai. Tanda `=` dipakai untuk membuat variable baru.

In [2]:
# Code here

coba = 'programming'

print(coba)

programming

Python adalah bahasa pemrograman yang *case-sensitive* sehingga penamaan antar variable menjadi hal yang perlu diperhatikan. Misalnya penulisan variable `activity` dengan awalan huruf `a` kecil berbeda dengan yang diawali dengan huruf `A` besar.

In [7]:
## Code here
coba == coba

True

Berikut beberapa anjuran dalam memberikan nama variabel/identifier pada Python:
- Penamaan bisa menggunakan kombinasi dari huruf kapital (A-Z), huruf nomina (a-z), angka (0-9).
- Penamaan tidak boleh menggunakan angka di awal.
- Penamaan variabel tidak boleh menggunakan keyword pada Python
- Nama variabel bersifat case-sensitive sehingga penamaan variabel algoritma, ALGORITMA dan Algoritma adalah 3 nama variabel yang berbeda
- Karakter !, $ , &, dll tidak bisa digunakan dalam penamaan variabel.

Sedangkan keyword adalah kata kunci yang sudah di tetapkan oleh Python sebagai nama yang tidak bisa dipakai baik untuk penamaan fungsi, variabel, dan lainnya. Keyword ditulis dalam lower-case (huruf kecil semua) kecuali keyword True, False, dan None. Sejauh ini keyword yang ada pada Python adalah sebagai berikut:

`True`, `False`, `None`, `and`, `as`, `assert`, `break`, `class`, `continue`, `def`, `del`, `elif`, `else`
`except`, `finally`, `for`, `from`, `global`, `if`, `import`, `in`, `is`, `lambda`, `nonlocal`, `not`, `or`, `pass`
`raise`, `return`, `try`, `while`, `with`, `yield`

In [13]:
# Cek daftar keyword
True

True

Untuk membuktikan bahwa keyword tidak dapat digunakan untuk membuat nama variabel baru, cobalah untuk menimpan nilai 1 pada variabel `True`.

In [15]:
## Code here
False

False

Bagaimana? Apa yang Anda temukan?

## Introduction to Pandas Library
Pandas adalah library yang cukup powerfull sebagai tools analisis data dan struktur pada Python. Dengan Pandas kita dapat mengolah data dengan mudah. Pandas menyediakan salah satu fitur bernama Dataframe. Dengan dataframe kita dapat membaca sebuah file, mengolah suatu data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya. Untuk menggunakan Pandas, kita perlu import terlebih dahulu librarynya dengan cara berikut ini:

In [21]:
import pandas as pd222
print(pd.__version__)

1.0.1

Perlu diperhatikan bahwa semua fungsi pada pandas dapat diakses dengan cara dipanggil seperti syntax : `pandas.function_name()`. Langkah pertama yang akan kita lakukan adalah membaca data. Anda dapat menggunakan `.read_csv()` untuk membaca sebuah file dengan format `.csv`.

In [22]:
# code here
rice1 = pd222.read_csv("data_input/rice.csv")
rice1.head()

,Unnamed: 0,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
0,1,9622257,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
1,2,9446359,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
2,3,9470290,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
3,4,9643416,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
4,5,9692093,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

Dokumentasi `read_csv()` selengkapnya ada [disini](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

### Konwledge Check
Referring to the previous **Python keywords** concept. Which of the following 4 lines of code will evaluate without raising an error?

- [ ] `pd.read_csv("data_input/rice.csv", index_col=false)`
- [ ] `Import pandas as pd`
- [ ] `print(100-2)`
- [ ] `None = 2`

In [ ]:
## Code here
print (100-2)

### Dive Deeper
Let's dive deeper into understanding the `index_col` parameter. From the documentation:

> `index_col` : int or sequence or `False`  
Column to use as the row labels of the DataFrame.

1. How would you change the `read.csv()` code such that the DataFrame uses `receipt_id` as the row label (index)? 
2. `pandas.DataFrame.head()` accepts an additional parameter, `n`, and returns the first `n` rows of the DataFrame; Set `n=8` to see the first 8 rows of your `rice` DataFrame
3. The opposite of `.head()` is `.tail()`. It returns the last `n` row of your DataFrame. Create a new cell below and print the last 4 rows of our DataFrame

In [11]:
## Code here

rice2 = pd.read_csv("data_input/rice.csv",index_col='receipt_id')
rice2.head(8)

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
9622257,1,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
9446359,2,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
9470290,3,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
9643416,4,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
9692093,5,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07
9504155,6,32030785,7/17/2018 18:05,Rice,Rice,minimarket,63500.0,0,1,2018-07
9822589,7,32935097,7/29/2018 18:18,Rice,Rice,supermarket,66500.0,0,1,2018-07
9706953,8,32593606,7/25/2018 12:48,Rice,Rice,minimarket,62500.0,0,1,2018-07

## Data Types

- Cek tipe data : `dtypes`

In [13]:
# cek tipe data rice
rice2 = pd.read_csv("data_input/rice.csv",index_col='receipt_id')
rice2.head(8)

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
9622257,1,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
9446359,2,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
9470290,3,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
9643416,4,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
9692093,5,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07
9504155,6,32030785,7/17/2018 18:05,Rice,Rice,minimarket,63500.0,0,1,2018-07
9822589,7,32935097,7/29/2018 18:18,Rice,Rice,supermarket,66500.0,0,1,2018-07
9706953,8,32593606,7/25/2018 12:48,Rice,Rice,minimarket,62500.0,0,1,2018-07

### Knowledge check: `.dtypes` and pandas attributes
Look at the following code - what is the expected output from the following code? Why?
```
x = [2019, 4, 'data science']
x.dtypes
```

Hint: Try `type(x)` and verify the type for object `x`.

In [6]:
#code here
x = [2019, 4, 'data science']
#x.dtypes
type (x)

list

In [14]:
rice2.tail(4)

,Unnamed: 0,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
receipt_id,,,,,,,,,,
5598782,11997,16999147,12/2/2017 14:12,Rice,Rice,minimarket,64000.0,0,1,2017-12
5735850,11998,17434503,12/13/2017 19:17,Rice,Rice,supermarket,59990.0,3000,1,2017-12
5678748,11999,17317935,12/8/2017 22:04,Rice,Rice,minimarket,59500.0,3000,1,2017-12
5702411,12000,17341559,12/10/2017 17:04,Rice,Rice,minimarket,59500.0,3000,1,2017-12